body {
    background: white url("media/ezgif.com-gif-maker.gif") no-repeat; /* https://gifdb.com/gif/cute-cartoon-goma-sad-w5r83ltcc4zv6hi5.html*/
    background-size: 30%;
    background-position: center -2000%;

}