{% extends 'schedule_advisor/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Log Out{% endblock %}

{% block content %}
<!-- Add HTML for google login here -->
<div class="text-center">
{% if user.is_authenticated %}
    <p>Would you like to log out, {{ user.username }}?</p>
    <br>
    <button class="btn btn-outline-info">
    <a href="{% provider_login_url 'google'%}">Log out</a>
</button>
    {% else %}
    <br>
<button class="btn btn-outline-info">
    <a href="{% provider_login_url 'google'%}">Login</a>
</button>
    {% endif %}
</div>
{% endblock %}