{% extends 'schedule_advisor/base.html'%}
{% load static %}
{% block content %}

{% if messages %}
<div class="messages" >
    {% for message in messages %}
    {% if message.tags == 'success'%}
        <div class="alert {{ message.tags }} alert-dismissible" role="success-banner" style="display: block; background-color: green">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
          </div>
        {% endif %}
    {% if message.tags == 'error' %}
        <div class="alert {{ message.tags }} alert-dismissible" role="error-banner" style="display: block; background-color: red">
             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
          </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<div class = "container"> 
    <br><br>
    <div class="row">
        <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded">
          <h1 class="my-3 text-center">{{course.subject}} {{course.catalog_number}}</h1>
            <h3 class="my-3 text-center">{{course.descr}}</h3>
            <h7 class="my-3 text-center">{{course.units}} credit(s)</h7>
            {% for meet in course.meeting.all %}
                <p>Timing: {{meet.days}}: {{meet.st_time}}-{{meet.end_time}}</p>
            <p>Dates: {{meet.st_date}}-{{meet.end_date}}</p>
            <p>Location: {{meet.building}} {{meet.room}}</p>
            {% endfor %}
            <p>Instructor(s)</p>
            <ul>
            {% for instruct in course.instructors.all %}
                <li><p>{{instruct.name}}</p> <ul>
                    <li><p>{{instruct.email}}</p></li>
                </ul></li>
            {% endfor %}
                </ul>
            <p>Section Type: {{course.section_type}}</p>
            <p>Seats Filled: {{course.enrollment}}/{{course.class_capacity}}</p>
            <p>Course Numerical Information</p>
            <ul>
                <li>Course ID: {{course.crse_id}}</li>
                <li>Class Section: {{course.class_section}}</li>
                <li>Class Number: {{course.class_nbr}}</li>
            </ul>
            {% if user.is_teacher == False %}
                {% if course not in user.shopping_cart.all %}
                    <form action="{% url 'schedule_advisor:add_course' user.id course.id %}" method="GET">
                        <button type="submit" class="btn btn-success btn-sm">Add Class</button>
                    </form>
                    {% elif course in user.shopping_cart.all %}
                    <form action="{% url 'schedule_advisor:remove_course' user.id course.id %}" method="GET">
                        <button type="submit" class="btn btn-danger btn-sm">Remove Class</button>
                    </form>
                {% endif %}
            {% endif %}
            <br>
            <button onclick="history.back()" class="btn btn-danger btn-sm float-right">Return to Course Search</button>
        </div>
    </div>
</div>

{% endblock %}