{% extends 'schedule_advisor/base.html'%}
{% load static %}
{% load socialaccount %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}

{% if messages %}
        <div class="messages" >
            {% for message in messages %}
            {% if message.tags == 'success'%}
                <div class="alert {{ message.tags }} alert-dismissible" role="success-banner" style="display: block; background-color: green">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                  </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
<div class="container">
<div class="row">
    <br>
    {% if user.is_authenticated %}
        {% if user.is_teacher %}
            <div class="text-center"><h4>Go to <a href="{% url 'schedule_advisor:home' %}">Home</a> page to view students' shopping carts</h4></div>
        {% else %}
            {% if user.shopping_cart.all|length == 0 %}
                <p>You don't have anything in your shopping cart yet! Go to the Courses tab to add some classes!</p>
            {% else %}
            <!--<div style="position: absolute; margin-top: 5%; margin-right: 5%">-->
            <div class="text-center">
                <form action="{% url 'schedule_advisor:submit_schedule' user.id %}" method="GET">
                                    <button type="submit" style="background-color: green" class="btn btn-danger btn-sm btn-outline-light">Submit to Advisor</button>
                                </form>
            </div>
              {% for course in user.shopping_cart.all %}
                  <div>
                    <div class="card">
                        <div class="card-body text-center">
                          <p class="card-title"><b>{{ course.subject }} {{ course.catalog_number}}- </b>{{course.descr}}</p>
                            {% for meet in course.meeting.all %}
                            <p>{{meet.days}}: {{meet.st_time}}-{{meet.end_time}}</p>
                            {% endfor %}
                            <u><p>{{course.class_nbr}}</p></u>
                            <p>{{course.enrollment}}/{{course.class_capacity}}</p>
                            {% for instructor in course.instructors.all %}
                                <p>{{instructor.name}} - {{instructor.email}}</p>
                            {% endfor %}
                          <hr>
                            {% if user.is_teacher == False %}
                                <form action="{% url 'schedule_advisor:remove_course' user.id course.id %}" method="GET">
                                    <button type="submit" class="btn btn-danger btn-sm">Remove Class</button>
                                </form>
                            {% endif %}
                            <br>
                                <a href="/courses/{{course.id}}"
                            ><input
                            type="submit"
                            value="Learn More"
                            class="btn btn-primary btn-sm"
                            type="button"
                            /></a>
                        </div>
                    </div>
                    <br><br><br>
                  </div>
              {% endfor %}
                <!--</div>-->
            </div>
        </div>
        {% endif %}
        {% endif %}
    {% else %}
        <button class="btn btn-outline-info"><a href="{% provider_login_url 'google'%}">Login</a></button>
    {% endif %}
{% endblock %}