body {
    background: white url("media/classeschoosing.jpg") no-repeat; /* https://dormessentials.com/college-advice/what-to-look-for-when-choosing-classes/*/
    background-size: 42%;
    background-position: center -100%;

}